body, html {
  margin:0 auto;
    height: 100%;
    font-family: "Garamond", serif;
  background-color: #C6E2D9;
}

#navBar {
 color:white;
 margin: 0 auto;
 width: 100%;
 position:fixed;
 text-align: center;
 font-size:15px;
 background-color: #975F94;
 padding: 15px;
 z-index: +100;
}
.barItem ul li a:hover {color: #000;}
.barItem {
  padding: 6px 20px;
  float: left;
  width: auto;
  text-decoration:none;
  vertical-align:middle;
  text-align: center;
}
.bar {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  width: auto;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("lavenderlatte.png");
    min-height: 75%;
    position:relative;
}

.fontSize {
  font-size: 25px;
}

.logo {
  text-align:center;
  padding-top:12%;
  opacity: 0.5;
}

#home {
  text-align: center;
  padding-top:10px;
}

.content {max-width:800px;
  margin:auto;
}

.tag {
  color:#482465;
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
    text-align:center;
}

.wide {letter-spacing:10px;}

.panel {padding:0.01em 16px;
  margin-top:16px;
  margin-bottom:16px;
  color:#482465;
  background-color:#f1f1f1;
}

.theClock {
  padding-left: 50%;
  font-size: 100%;
  color: white;
}

#footer {
  padding-top: 100px;
  padding-bottom: 70px;
  background-color:#975F94;
}
